.vs/
*.opensdf
*.db
*.opendb
*.sln
*.suo
*.sdf
*.user
*.filters
*.vcxproj.filters
*.vcxproj
*.lib
*.pdb
*.idb
*.obj
*.log
*.ilk
*.tlog
*.log
*.lastbuildstate
*.swp
*.un~
*.txt~
x64/
external/
Debug/
Release/
external-libs/
external-includes/